.DS_Store
.scratch/
.venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/
.ipynb_checkpoints/

docs/build/
data/interim/
data/final/
data/tree.txt

*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
*.bbl
*.blg
*.bcf
*.run.xml
_minted-*/
